<% include ../common/header %>

<div class="content">
	<div class="container">

<ul class="list col-md-9">
	<% posts.forEach(post => { %>
	<li class="col-md-4">
		<div class="dapibus">
			<h2><%=post.title%></h2>
			<p class="adm"><%=post.created_at%></p>
			<% if (post.files.length > 0) { %>
			<a href="/<%=post.id%>"><img src="<%=post.files[0].path%>" class="img-responsive" alt=""></a>
			<% } %>
			<p><%=post.contents%></p>
			<a href="/<%=post.id%>" class="link">Read More</a>
		</div>
	</li>
	<% }) %>
	<div class="clearfix"></div>
	<div class="page">
		<% if (posts.page.current != 1) { %><a class="btn red" href="?page=<%=posts.page.current-1%>">Prev</a><% } %>
		<% if (posts.page.current < posts.page.total) { %><a class="btn blue" href="?page=<%=posts.page.current+1%>">Next</a><% } %>
	</a>
</ul>

<div class="sidebar col-md-3">
	<div class="posts">
		<h4>Recent posts</h4>
		<h6><a href="#">Aliquam tincidunt mauris</a></h6>
		<h6><a href="#">Vestibulum auctor lipsum</a></h6>
		<h6><a href="#">Nunc dignissim risus</a></h6>
		<h6><a href="#">Cras ornare tristiqu</a></h6>
	</div>
	<div class="comments">
		<h4>Recent Comments</h4>
		<h6><a href="#">Amada Doe <span>on</span> Hello World!</a></h6>
		<h6><a href="#">Peter Doe <span>on</span> Photography</a></h6>
		<h6><a href="#">Steve Roberts <span>on</span> HTML5/CSS3</a></h6>
		<h6><a href="#">Doe Peter<span>on</span> Photography</a></h6>
	</div>
	<div class="archievs">
		<h4>Archives</h4>
		<h6><a href="#">October 2013</a></h6>
		<h6><a href="#">September 2013</a></h6>
		<h6><a href="#">August 2013</a></h6>
		<h6><a href="#">July 2013</a></h6>
	</div>
	<div class="categories">
		<h4>Categories</h4>
		<h6><a href="#">Vivamus vestibulum nulla</a></h6>
		<h6><a href="#">Integer vitae libero ac risus e</a></h6>
		<h6><a href="#">Vestibulum commo</a></h6>
		<h6><a href="#">Cras iaculis ultricies</a></h6>
	</div>
</div>

	</div>
</div>

<% include ../common/footer %>